<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': appareilStatus === 'allumé',
                'list-group-item-danger': appareilStatus === 'éteint'}">
  <div
    style="width: 20px; height: 20px; background-color: red;"
    *ngIf="appareilStatus === 'éteint'"
  ></div>
  <h4 [ngStyle]="{color: getColor()}">Appareil : {{ appareilName }} -- Status : {{ getStatus() }}</h4>
  <input type="text" class="form-control" [(ngModel)]="appareilName">
  <button class="mt-2 btn btn-success"
          (click)="onSwitchOnOne()" [disabled]="appareilStatus === 'allumé'">allumer</button>
  <button class="mt-2 ms-2 btn btn-danger"
          (click)="onSwitchOffOne()" [disabled]="appareilStatus === 'éteint'">éteindre</button>
</li>
